@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

input:focus, textarea, button {
  outline: none !important; }
